<!-- WORKER DELETE MODAL -->
<div class="modal fade" id="workerDeleteModal{{ worker.id }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form method="POST" action="{% url 'main:worker-delete' dept_id worker.id %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title">Delete Worker</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ worker.get_full_name }}</strong>?</p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger">Delete</button>
                </div>

            </form>

        </div>
    </div>
</div>
